
  <h1>{{title}}</h1>
  <div class="container">
      <div class="row">
          <div class="col-6">
            <form >
              <div class="">
                <label for="edadUno">Edad 1</label>
                <input class="form-control" type="number" placeholder="Ingresar edad..." name="numero" [(ngModel)]="numero">
              </div>
              <div>
                    <label for="edadDos">Edad 2</label>
                    <input class="form-control" type="number" placeholder="Ingresar edad..."name="numeroDos" [(ngModel)]="numeroDos">
              </div>
              <div>
                    <label for="edadUno">Promedio</label>
                    <input class="form-control" type="number" placeholder="promedio" readonly name="promedio" [ngModel]="promedio">
              </div>
              <div>
                    <label for="edadUno">Suma</label>
                    <input class="form-control" type="number" placeholder="Suma" readonly name="suma" [ngModel]="suma">
              </div>
             
                <div class="col center">
                  <button  class="btn btn-primary mb-2" (click)="calcular()">Calcular</button>
                  <button  class="btn btn-primary mb-2" (click)="limpiar()">Limpiar</button>
                </div>
    
            </form>
           
           
       </div>
   </div>
  
  
